<br><br>

<div class="container">
	<p id="notice"><%= notice %></p>
	
	<h1>Listing Profiles</h1>
	<div class="row">
	    <div class="col-md-10 col-md-offset-2">
	    	<%= will_paginate @profiles, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
			
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Full Name</th>
	      <th>Company name</th>
	      <th>Email</th>
	      <th>Web</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% @profiles.each do |profile| %>
	      <tr>
	        <td><%= link_to profile.full_name, profile %></td>
	        <td><%= profile.company_name %></td>
	        <td><%= profile.email %></td>
	        <td><%= link_to profile.web, profile.web, {target: "_blank"} %></td>
	
	        <td><%= link_to 'Show', profile, :class => 'btn btn-mini btn-info' %></td>
	        <td><%= link_to 'Edit', edit_profile_path(profile), :class => 'btn btn-mini btn-primary disabled' %></td>
	        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger' %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	
	<div class="row">
	    <div class="col-md-10 col-md-offset-2">
	    	<%= will_paginate @profiles, renderer: BootstrapPagination::Rails %>
		</div>
	</div>
	
</div>