<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Company name</th>
      <th>Address</th>
      <th>County</th>
      <th>Zip</th>
      <th>Phone1</th>
      <th>Phone2</th>
      <th>Email</th>
      <th>Web</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.first_name %></td>
        <td><%= profile.last_name %></td>
        <td><%= profile.company_name %></td>
        <td><%= profile.address %></td>
        <td><%= profile.county %></td>
        <td><%= profile.zip %></td>
        <td><%= profile.phone1 %></td>
        <td><%= profile.phone2 %></td>
        <td><%= profile.email %></td>
        <td><%= profile.web %></td>
        <td><%= profile.city %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
